{% include vars.html %}

<nav class="navbar navbar-static-top navbar-light">
  <div class="container">
    <a href="{{url_base}}/" style="float: left">
      <!--<span class="navbar-logo-text">{{i18n.site_title}}</span>-->
      <img alt="{{i18n.site_title}}" src="/assets/brand.png" style="height:30px;margin-right:30px;">
    </a>

    <div class="clearfix hidden-lg-up">
      <button class="navbar-toggler hidden-lg-up float-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="exCollapsingNavbar2"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>

    <div class="collapse navbar-toggleable-md" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://joinpeertube.org/">{{i18n.site_nav_back}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Chocobozzz/PeerTube/blob/develop/.github/CONTRIBUTING.md#welcome-to-the-contributing-guide-for-peertube">{{i18n.site_nav_github}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-nav-right float-lg-right">
        {% assign path = page.url | split: '/' %} {% unless path[1] == 'blog' %}
        <li class="nav-item dropdown">
          <a id="dropdownNavLanguage" class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {% include svg/language.svg class="navbar-icon" %} {{vars_active_language.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownNavLanguage" id="dropdownNavLanguageMenu">
              {% for language in site.data.languages %} {% if language.enabled %}
              <a href="{{site.baseurl}}/lang/{{language.tag}}/{{vars_url_relative}}" class="dropdown-item{% if vars_active_language.tag == language.tag %} active{% endif %}"
                data-lang="{{language.accept_languages[0]}}">
                {{language.name}}
                </a>
                {% endif %} {% endfor %}
            </div>
        </li>
        {% endunless %}
        <li class="nav-item">
          <a class="nav-link" href="https://framagit.org/framasoft/peertube/documentation">
            {% include svg/git.svg class="navbar-icon" %}
            <span class="sr-only">Git</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
