<div class="mt-4">
  <div id="version-officielle">
    Upstream has 
    {% if site.show_stable %}
    {{i18n.site_nav_stable_version}}:
    <strong class="navbar-text">
      <a href="https://github.com/Chocobozzz/PeerTube/releases/tag/v{{site.latest_version}}">
        v{{site.latest_version}}
      </a>
    </strong>
    <span aria-hidden="true">&bull;</span>
    {% endif %}
    {% if site.show_rc %}
    {{i18n.site_nav_rc_version}}
    <strong>
      <a href="https://github.com/Chocobozzz/PeerTube/releases/tag/v{{site.latest_rc_version}}">
        v{{site.latest_rc_version}}
      </a>
    </strong>
    <span aria-hidden="true">&bull;</span>
    {% endif %}
    {% if site.show_beta %}
    {{i18n.site_nav_beta_version}}
    <strong>
      <a href="https://github.com/Chocobozzz/PeerTube/releases/tag/v{{site.latest_beta_version}}">
        v{{site.latest_beta_version}}
      </a>
    </strong>
    {% endif %}
    {% if site.show_alpha %}
    {{i18n.site_nav_alpha_version}}
    <strong>
      <a href="https://github.com/Chocobozzz/PeerTube/releases/tag/v{{site.latest_alpha_version}}">
        v{{site.latest_alpha_version}}
      </a>
    </strong>
    {% endif %}
  </div>
  {% comment %}
  <div>
    {{i18n.site_nav_node_support}}: 
    <strong>
      {{site.node_support}}
    </strong>
  </div>
  {% endcomment %}
</div>
