.hero.api {
  margin-bottom: 0;
}

.hero {
  position: relative;
  margin: 0;
  padding: 2rem 0;
  color: white;
  background-color: $yarn-blue-dark;
  background-size: 25px auto;

  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  a {
    color: white;
    text-decoration: underline;
  }

  .alert {
    // Pull alert back into the margin on top of the hero, when visible.
    margin-top: -1.5rem;
  }
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 7px;
  background: {
    image: $image-border-white;
    repeat: repeat-x;
    size: 144px auto;
  }
}

.hero::before {
  top: 0;
  background-position: top -4px center;
}

.hero::after {
  bottom: 0;
  background-position: bottom -4px center;
}

.navbar + .hero {
  margin-top: 0;
}

.hero-logo {
  position: absolute;
  top: 50%;
  right: -3.5rem;
  transform: translate(0, -50%);
  height: 140%;
}
.hero-logo .logo-primary {
  fill: $yarn-blue-darker;
}
.hero-logo .logo-secondary {
  fill: $yarn-blue;
}

.hero-title {
  position: relative;
  margin-bottom: 2.25rem;
  z-index: 1;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-title-addition {
  font-size: 0.4em;
  font-weight: normal;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  text-transform: initial;
  text-shadow: none;
}

.hero-text {
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-prompt {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 3px $yarn-blue-darkest;
  margin-bottom: 1rem;
}

.hero-btn {
  @include button-outline-variant($yarn-blue-darkest);
  @include button-size(
    $btn-padding-y-lg * 1.5,
    $btn-padding-x-lg * 1.5,
    $font-size-lg * 0.8,
    $btn-border-radius-lg
  );
  font-size: 1.2rem;
  color: white;
  border-width: 2px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03rem;

  @include hover {
    color: $yarn-blue-dark;
    background-color: white;
    border-color: white;
  }
}

.hero a.hero-btn {
  text-decoration: none;
}

.hero-ghbtn {
  display: inline-block;
  vertical-align: middle;
}

@include media-breakpoint-down('sm') {
  .hero-btn {
    display: block;
    width: 100%;
  }

  .hero-btn + .hero-btn {
    margin-top: 1rem;
  }
}

@include media-breakpoint-up('sm') {
  .hero {
    margin: 0 0 3rem 0;
  }

  .hero-title {
    font-size: 0.8em;
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-text {
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-prompt {
    font-size: 2.8rem;
    margin: 0 0 1.3rem;
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-btn + .hero-btn {
    margin-left: 1rem;
  }
}

@include media-breakpoint-down('md') {
  .hero-btn {
    padding-left: 1.5rem;
    padding-right: 2.5rem;
  }
}

@include media-breakpoint-up('md') {
  .hero-title {
    font-size: 1.7em;
  }

  .hero-prompt {
    font-size: 2.2rem;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('lg') {
  .hero-title {
    font-size: 2em;
  }

  .hero-prompt {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .hero-ghbtn {
    margin-left: 2rem;
  }
}

@include media-breakpoint-up('xl') {
  .hero-title {
    font-size: 2.5em;
  }

  .hero-prompt {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
